.container{
    background-color: #ffffff;
    border-radius:15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 900px;
}
.image{
    border-radius: 15px;
}
.link{
    text-decoration: none;
}
h1{
    font-weight: 500;
    font-size:xx-large;
}
h2{
    font-weight: 1000;
    font-size:x-large;
}